body {
  margin: 0;
  padding: 0;
}

h1 { text-align: center; }

::-webkit-scrollbar{ width: 0; }

.container { padding: 10px 20px; }

.tip {
  font-style: italic;
  width: 100%;
  border-bottom: 1px dashed #aaaaaa;
  text-align: center;
  padding: 5px;
  height: 20px;
  font-size: large;
  font-weight: bolder;
}

.chat {
  border: 1px solid #aaaaaa;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.chat .messages {
  height: calc(100% - 94px);
  height: -webkit-calc(100% - 94px);
  height: -moz-calc(100% - 40px - 108px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat .messages .message {
  margin: 2px 5px;
}

.chat .messages .message.isMine {
  text-align: right;
}

.chat .messages .message .title {
  font-size: 12px;
  color: #9f9f9f;
  font-style: italic;
}

.chat .messages .message .content {
  word-break: break-word;
  white-space: pre-wrap;
}

.chat .footer {
  position: absolute;
  right: 0;
  left: 0;
  border: none;
  border-top: 1px solid #aaaaaa;
  padding: 8px 10px 0 10px;
}

.chat .footer textarea {
  width: 100%;
  outline: none;
  border: none;
  height: 60px;
  background-color: transparent;
  font-size: 14px;
  display: block;
  resize: none;
  color: #444;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  clear: both;
  font-style: italic;
}
